* {
    margin: 0;
    padding: 0;
    
}

html, body {
    background-color: #181818;
    font-size: 50px;
    color: lightcyan;
    font-family: sans-serif;
}

p {
    padding-left: 25px;
}

.good {
    border-radius: 10px;
    border: none;
    font-size: 3rem;
    margin: 15px;
    
}

